@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://basehold.it/22");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.lint{line-height:1}body,.lint{line-height:inherit}ol,ul,.lint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  ## Typographic grid information ##

  Anchoring font-family: "Merriweather Sans"
  https://fonts.google.com/specimen/Merriweather+Sans?category=Sans+Serif&stylecount=8&sidebar.open=true&selection.family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700

  Anchoring font-size: 16px

  Anchoring line-height: 22px

  Modular scale for alternate font-size values:
  (Major 2nd;1.125)
  https://www.modularscale.com/?16&px&1.125

  Larger: 18px;
  Anchor: 16px;
  Smaller: 14.222px;

*/

/* Base Styles: SUPER-MICRO MINI; See the min-width: 235px media query */

html {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 300; /* Merriweather Sans light */
  line-height: 16px;
  padding: 4px;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin-bottom: 8px;
}

h1 {
  margin-bottom: 16px;
}
aside {
  background-color: #222;
  color: #DDD;
  padding: 4px;
  margin: 0 -4px 0 -4px;
}



/* Responsive-image Styles */
img {
  display: block;
  display: none;
  max-width: 100%;
}
/* Accessibility-preserving Styles */
/*
  THINK CAREFULLY before hiding things that could be
  really useful to all users.
*/
/*
figcaption {
  position: absolute;
  left: -100000px;
}
*/
/* Layout */

/* Modular */
.nav a {
  background-color: #DDD;
  color: #600;
  display: block;
  padding: 8px 0 8px 4px;
  margin-bottom: 16px;
  text-decoration: none;
}
.nav a:hover,
.nav a:active,
.nav a:focus {
  background-color: #BBB;
}

/* State */

@media screen and (min-width: 235px) {
  /* Base Styles */
  html {
    font-size: 1em; /* 16 / 16 = 1 */
    line-height: 1.375em; /* 22 / 16 = */
    padding: 11px;
  }
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 11px;
    margin-bottom: 0.6875em; /* 11 / 16 = 0.6875 */
  }

  h1 {
    margin-bottom: 22px;
  }
  aside {
    font-size: 0.888875em; /* New em! 14.222px / 16 = 0.888875 */
    line-height: 1.5468991703em; /* 22 / 14.222 = 1.5468991703 */
    padding: 0.7734495851em; /* 11 / 14.222 = 0.7734495851 */
    margin: 0 -0.7734495851em 0 -0.7734495851em;
  }

  aside h2 {
    margin-bottom: 0.7734495851em; /* 11 / 14.222 = 0.7734495851 */
  }

  /* Modular Styles */
  .nav a {
    padding: 0 0 0 0;
    margin-bottom: 11px;
    padding: 11px;
  }
}

@media screen and (min-width: 330px) {
  .nav {
    display: flex;
    margin-bottom: 22px;
  }
  .nav li {
    flex: 1 0 auto;
    margin-right: 11px;
  }
  .nav li:last-of-type {
    margin-right: 0;
  }
  .nav a {
    margin-bottom: 0;
  }
}


@media screen and (min-width: 475px) {
  html {
    padding: 44px 18.52631579%; /* 88 / 475 = 0.1852631579 // 18.52631579% */
  }
}

@media screen and (min-width: 725px) {
  html {
    padding: 44px;
  }
  body {
    display: grid;
    grid-gap: 22px;
    grid-template-columns: repeat(5, 1fr);
  }
  #header,
  #navigation,
  #secondary {
    grid-column: 1 / 3;
  }
  #navigation {
    grid-row: 2 / 3;
  }
  #secondary {
    align-self: end;
  }
  #main {
    grid-column: 3 / 6;
    grid-row-start: 3;
  }
  .nav {
    margin-bottom: 0;
  }

}
